extends ./layout.jade

block title
  title Home

block content

  h1 Welcome to the Puppy Ruscue!
  h2
    a(href="/puppies") See our puppies

  h2 Here's some info:
  	p Our shelter was founded in 1492, same time as Columbus "discovering" the Americas

  	p I like turtles

  	p So should you!